<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row mb-5">
          <div class="col-md-4 mr-auto">
            <h3 class="thin-heading mb-4">Rosario, Santa Fe</h3>
            <p>Domicilio: Amenabar 2716</p>
          </div>
          <div class="col-md-6 ml-auto">
            <h3 class="thin-heading mb-4">Contacto</h3>
            <p>Teléfono: 341-5045593 <br />Mail: alfonsomelisa@hotmail.com</p>
          </div>
        </div>
        <div class="row justify-content-center"></div>
      </div>
    </div>
  </div>
</div>
