<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Hard skills</h6>
          <div id="content1">
            <div class="skills">
              <!--Skills-->

              <div class="d-flex align-items-center">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg"
                />
                <div class="progress-bar">
                  <div class="html"><span>50%</span></div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg"
                />
                <div class="progress-bar">
                  <div class="css"><span>50%</span></div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                />
                <div class="progress-bar">
                  <div class="javascript"><span>45%</span></div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
                />
                <div class="progress-bar">
                  <div class="typescript"><span>50%</span></div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain-wordmark.svg"
                />
                <div class="progress-bar">
                  <div class="bootstrap"><span>65%</span></div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
                />
                <div class="progress-bar">
                  <div class="angular"><span>60%</span></div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg"
                />
                <div class="progress-bar">
                  <div class="java"><span>50%</span></div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg"
                />
                <div class="progress-bar">
                  <div class="node"><span>55%</span></div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-plain.svg"
                />
                <div class="progress-bar">
                  <div class="spring"><span>55%</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
