<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Experiencia laboral</h6>
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="2020 - Actualidad">
                                <h3>Enfermera laboral - Terminal puerto Rosario</h3>
                                <p>Recepción de ausentismos, seguimiento, capacitaciones en temáticas relacionadas a seguridad y salud laboral. </p>
                            </li>
                            <li class="event" data-date="Año - Lugar">
                                <h3>Ejemplo 1</h3>
                                <p>Descripción</p>
                            </li>
                            <li class="event" data-date="Año - Lugar">
                                <h3>Ejemplo 2</h3>
                                <p>Descripción</p>
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
