<div class="container">
    <div class="row" *ngFor="let exp of experiencia">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Experiencia laboral</h6>
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="">
                                <h3>{{exp.tituloExp}}</h3>
                                <p>{{exp.descExp}} </p>
                            </li>
                            
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
