body{margin-top:20px;}

.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}


.content1 {
    width: 100%;
    height: 100vh;
    background: #727cf5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2{
 font-weight: 400;
 letter-spacing: 1px;
 margin-top: 20px;
 margin-bottom: 5px;
 color: rgb(67, 241, 23);
 font-size: 16px;
}

.progress-bar {
    background: #c5c9f5;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;


}

.progress-bar div span {
    height: 40px ;
    width:40px;
    border-radius: 50%;
    background: #fff ;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #333;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.html {
    background-color: orange ;
    animation: html 1s linear forwards;
}

.css {
    background-color: blue ;
    animation: css 1s linear forwards;
}

.javascript {
    background-color:yellow ;
    animation: javascript 1s linear forwards;
}

.typescript {
    background-color: lightblue;
    animation: typescript 1s linear forwards;
}

.bootstrap {
    background-color: violet ;
    animation: bootstrap 1s linear forwards;
}

.angular {
    background-color: red;
    animation: angular 1s linear forwards;
}

.java {
    background-color: red;
    animation: java 1s linear forwards;
}

.node {
    background-color: rgb(10, 233, 10) ;
    animation: node 1s linear forwards;
}

.spring {
    background: green;
    animation: spring 1s linear forwards;
}

.html span{
  border: 1px solid #727cf5;
}

.css span{
    border: 1px solid #727cf5;
  }

.javascript span{
    border: 1px solid #727cf5;
  }

.typescript span{
    border: 1px solid #727cf5;
  }
  
.bootstrap span{
    border: 1px solid #727cf5;
  }
  
.angular span{
    border: 1px solid #727cf5;
  }

.java span{
    border: 1px solid #727cf5;
  }

.node span{
    border: 1px solid #727cf5;
  }

.spring span{
    border: 1px solid #727cf5;
  }

@keyframes html{
    100%{
        width: 85%;
    }
}

@keyframes css{
    100%{
        width: 65%;
    }
}

@keyframes javascript{
    100%{
        width: 65%;
    }
}

@keyframes typescript{
    100%{
        width: 50%;
    }
}

@keyframes bootstrap{
    100%{
        width: 85%;
    }
}

@keyframes angular{
    100%{
        width: 70%;
    }
}

@keyframes java{
    100%{
        width: 50%;
    }
}

@keyframes node{
    100%{
        width: 55%;
    }
}

@keyframes spring{
    100%{
        width: 55%;
    }
}

img {
    height: 35px;
    width: 35px;
}