
    <div class="text-center">
        <button type="button" class="btn btn-success" (click)="onOpenModal('add')">
             <a class="nav-link" style="color: aliceblue">
             añadir educación<span class="sr-only"> (current) </span>
             </a>
        </button>
    </div>
    <div class="container">
    <div class="row" *ngFor="let estudio of education">
        <div class="col-md-12" >
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Estudios</h6>
                    <div id="content">
                        <ul class="timeline">
                            <button type="button" class="btn btn-primary btn-sm" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn btn-secondary btn-sm" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="bi bi-trash"></i></button>

                            <li class="event" data-date="2021 - Actualidad">
                                <h3>{{estudio.tituloEdu}}</h3>
                                <p>{{estudio.descEdu}}</p>
                                
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-skills></app-skills>
</div>

