<div class="card" data-state="#about" *ngIf="usuario" >
    <div class="card-header">
      <div class="card-cover"></div>
      <img class="card-avatar" src="{{usuario.fotoPerfil}}" alt="avatar">
      <h1 class="card-fullname">{{usuario.apellido}}</h1>
      <h2 class="card-jobtitle">{{usuario.titulo}}</h2>
    </div>
    <div class="card-main">
      <div class="card-section is-active" id="about">
        <div class="card-content">
          <div class="card-subtitle">ACERCA DE MI</div>
          <p class="card-desc">{{usuario.descripcion}}</p>
        </div>
        <div class="card-social">
        </div>
      </div> 
      <div class="card-buttons">
        <button [routerLink]="['estudios']" data-section="#about" routerLinkActive="is-active">ESTUDIOS</button>
        <button [routerLink]="['experiencia']" data-section="#experience" routerLinkActive="is-active">EXPERIENCIA LABORAL</button>
        <button [routerLink]="['contacto']" data-section="#contact" routerLinkActive="is-active">CONTACTO</button>
      </div>
    </div>
  </div>
    
    
  